#modal {
  font-size: 24px;
  margin: 16px;
  padding: 10px 25px;
  color: rgb(255 255 255);
  background-color: rgb(55 55 236);
  border-radius: 6px;
  box-shadow: 0 2px 2px rgb(8 8 8 / 71.2%);
}

#pop {
  position: absolute;
}

.modal-cover {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(54 53 53 / 47.9%);
}

.modal-cover > div {
  padding: 25px;
  text-align: center;
  width: 600px;
  height: 250px;
  border-radius: 6px;
  background-color: rgb(250 246 246);
}

.modal-cover > div > p {
  font-weight: bold;
}

.modal-cover > div > button {
  font-size: 12px;
  margin: 24px auto;
  padding: 0.5rem 2rem;
  color: white;
  background-color: rgb(255 89 89);
  border-radius: 6px;
  border: none;
  box-shadow: 0 2px 2px rgb(0 0 0 / 71.2%);
}

.hidden * {
  display: none;
}

#survey {
  margin-top: 30px;
  font-family: arial, sans-serif;
  font-size: 36px;
  font-weight: bolder;
}

#close {
  margin-top: 50px;
}
